/*---------------------------*\
 		CLASS GENERIQUE
\*---------------------------*/
.img-responsive
{
    max-width: 100%;
    height: auto;
}
.img-rounded 
{
	@include border-radius(2%);
//	border-radius: 2%;
}
.img-circle
{
	@include border-radius(100%);
//	border-radius: 100%;
}
.img-thumbail
{
 border: 1px solid grey;
	@include border-radius(2%);
// border-radius: 2%;
 padding: 1%;
}
.img-blur
{
 filter : blur(5px);
}