//IMPORTER CE FICHIER SUR LA FEUILLE SCSS DE BASE 
//@import "import/variable.scss";
//VARIABLE
$height: 600px;
$width: 800px;
$color: black;
$padding: 10px;
$paragraphe: red;
$width: 100px;
$bg-paragraphe: skyblue;
$hex: #333;



